<%- include ('partials/header'); -%>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="bg-white text-dark">
            <p class="h1 d-flex justify-content-center">My Cart (14)</p><br>
            <hr class="border border-secondary">
            <div class="row bg m-5">
                <div class="">
                    <img class="img-thumbnail" src="https://i01.appmifile.com/webfile/globalimg/in/cms/6052B3F5-CABB-F1BC-8E9A-D6F6D4D6C9CC.jpg" alt="" width="300">
                </div>
                <div class="ml-5">
                    <h3>Item Name</h3>
                    <h5 >Item detail Lorem ipsum dolor sit amet.</h5>
                    <h2>Out Of Stock</h2> <br>
                    <button  class="btn btn-xs btn-light">-</button> <button class="btn btn-xs btn-lght" ><input type="text"></button> <button  class="btn btn-light">+</button> <br><br>
                    <button class="btn  btn-lg btn-primary">Buy Now</button>&nbsp;&nbsp;
                    <button class="btn btn-lg btn-danger">Remove</button>
                </div>
            </div>
            <hr class="border border-secondary">
            <div class="row m-5">
                <div>
                    <img class="img-thumbnail" src="https://i01.appmifile.com/webfile/globalimg/in/cms/6052B3F5-CABB-F1BC-8E9A-D6F6D4D6C9CC.jpg" alt="" width="300">
                </div>
                <div class="ml-5">
                    <h3>Item Name</h3>
                    <h5 >Item detail Lorem ipsum dolor sit amet.</h5>
                    <h2>Out Of Stock</h2> <br>
                    <button  class="btn btn-xs btn-light">-</button> <button class="btn btn-xs btn-lght" ><input type="text"></button> <button  class="btn btn-light">+</button> <br><br>
                    <button class="btn  btn-lg btn-primary">Buy Now</button>&nbsp;&nbsp;
                    <button class="btn btn-lg btn-danger">Remove</button>
                </div>
            </div>
            <hr class="border border-secondary">
            <div class="row m-5 pb-5">
                <div>
                    <img class="img-thumbnail"  src="https://i01.appmifile.com/webfile/globalimg/in/cms/6052B3F5-CABB-F1BC-8E9A-D6F6D4D6C9CC.jpg" alt="" width="300">
                </div>
                <div class="ml-5">
                    <h3>Item Name</h3>
                    <h5 >Item detail Lorem ipsum dolor sit amet.</h5>
                    <h2>Out Of Stock</h2> <br>
                    <button  class="btn btn-xs btn-light">-</button> <button class="btn btn-xs btn-lght" ><input type="text"></button> <button  class="btn btn-light">+</button> <br><br>
                    <button class="btn  btn-lg btn-primary">Buy Now</button>&nbsp;&nbsp;
                    <button class="btn btn-lg btn-danger">Remove</button>
                </div>
                <hr class="border border-secondary">
              </div>
          </div>
        </div>
        <div class="col-md-4 bg-white text-dark h-25 sticky-top">
          <p class="h1 d-flex justify-content-center">Price Details</p>
          <hr>
          <div class="d-flex justify-content-between">
            <p class="h3 ">Price</p><p class="h3 ">3300</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="h3 ">Delivery</p><p class="h3 ">30</p>
          </div>
          <hr>
          <div class="d-flex justify-content-between">
            <p class="h3 ">Total</p><p class="h3 ">3360</p>
          </div>  
        
        </div>
      </div>
    </div>
<%- include ('partials/footer'); -%>    
    