<%- include ('partials/header'); -%>
    <div class="container-fluid">
        <div class="img-fluid">
            <img src="https://images.unsplash.com/photo-1548611635-b6e7827d7d4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" height="500" width="100%">
        </div> 
    <div></div><br><br>
        
        <section id="product-0" class="bg-info">

            <div class="d-flex justify-content-center">
                <h1 class="text-white display-4">Best Deals</h1>
            </div>
            
            <div class="container-fluid">
                <div class="row">    
                    <div class="col-md-3 m-5" >
                        <img class="img-thumbnail" src="https://images-na.ssl-images-amazon.com/images/I/71UcuvuKleL._SL1500_.jpg" alt="" >
                        <h4>ProdName</h4>
                        <h5>Lorem ipsum dolor sit amet</h5>
                        <a href="./product.html"><h4 class="text-white">Rs. 1999</h4></a>
                    </div>

                    <div class="col-md-3  m-5 ">
                        <img class="img-thumbnail" src="https://images-na.ssl-images-amazon.com/images/I/71UcuvuKleL._SL1500_.jpg" alt="" >
                        <h4>ProdName</h4>
                        <h5>Lorem ipsum dolor sit amet</h5>
                        <h4>Rs. 1999</h4>
                    </div>
                    <div class="col-md-3 m-5 ">
                        <img class="img-thumbnail" src="https://images-na.ssl-images-amazon.com/images/I/71UcuvuKleL._SL1500_.jpg" alt="" >
                        <h4>ProdName</h4>
                        <h5>Lorem ipsum dolor sit amet</h5>
                        <h4>Rs. 1999</h4>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <h3 class="text-white">View More <i class="fa fa-angle-double-down" aria-hidden="true"></i></h3>
            </div>

        </section>
        
        <section id="product-1" class="bg-warning">
            <div class="d-flex justify-content-center">
                <h1 class="text-white display-4">Best Budget Deals</h1>
            </div>

            <div class="container-fluid">
            <div class="row">    
                <div class="col-md-3 m-5" >
                    <img class="img-thumbnail" src="https://images-na.ssl-images-amazon.com/images/I/71UcuvuKleL._SL1500_.jpg" alt="" >
                    <h4>ProdName</h4>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <h4>Rs. 1999</h4>
                </div>

                <div class="col-md-3  m-5 ">
                    <img class="img-thumbnail" src="https://images-na.ssl-images-amazon.com/images/I/71UcuvuKleL._SL1500_.jpg" alt="" >
                    <h4>ProdName</h4>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <h4>Rs. 1999</h4>
                </div>
                <div class="col-md-3 m-5 ">
                    <img class="img-thumbnail" src="https://images-na.ssl-images-amazon.com/images/I/71UcuvuKleL._SL1500_.jpg" alt="" >
                    <h4>ProdName</h4>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <h4>Rs. 1999</h4>
                </div>
            </div>
            </div>
            <div class="d-flex justify-content-center">
                <h3 class="text-white">View More <i class="fa fa-angle-double-down" aria-hidden="true"></i></h3>
            </div>
        </section>

        
        <section id="product-2" class="bg-primary">
            <div class="d-flex justify-content-center">
                <h1 class="text-white display-4">Mid-Range Beasts</h1>
            </div>
            
            <div class="container-fluid">
            <div class="row">    
                <div class="col-md-3 m-5 " >
                    <img class="img-thumbnail" src="https://images-na.ssl-images-amazon.com/images/I/71UcuvuKleL._SL1500_.jpg" alt="" >
                    <h4>ProdName</h4>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <h4>Rs. 1999</h4>
                </div>

                <div class="col-md-3  m-5 ">
                    <img class="img-thumbnail" src="https://images-na.ssl-images-amazon.com/images/I/71UcuvuKleL._SL1500_.jpg" alt="" >
                    <h4>ProdName</h4>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <h4>Rs. 1999</h4>
                </div>
                <div class="col-md-3 m-5 ">
                    <img class="img-thumbnail" src="https://images-na.ssl-images-amazon.com/images/I/71UcuvuKleL._SL1500_.jpg" alt="" >
                    <h4>ProdName</h4>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <h4>Rs. 1999</h4>
                </div>
            </div>
            </div>
            <div class="d-flex justify-content-center">
                <h3 class="text-white">View More <i class="fa fa-angle-double-down" aria-hidden="true"></i></h3>
            </div>
        </section>

        
        <section id="product-3" class="bg-danger">
            <div class="d-flex justify-content-center">
                <h1 class="text-white display-4">Premium Deals</h1>
            </div>

            <div class="container-fluid">
            <div class="row">    
                <div class="col-md-3 m-5 " >
                    <img class="img-thumbnail" src="https://images-na.ssl-images-amazon.com/images/I/71UcuvuKleL._SL1500_.jpg" alt="" >
                    <h4>ProdName</h4>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <h4>Rs. 1999</h4>
                </div>

                <div class="col-md-3  m-5 ">
                    <img class="img-thumbnail" src="https://images-na.ssl-images-amazon.com/images/I/71UcuvuKleL._SL1500_.jpg" alt="" >
                    <h4>ProdName</h4>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <h4>Rs. 1999</h4>
                </div>
                <div class="col-md-3 m-5 ">
                    <img class="img-thumbnail" src="https://images-na.ssl-images-amazon.com/images/I/71UcuvuKleL._SL1500_.jpg" alt="" >
                    <h4>ProdName</h4>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <h4>Rs. 1999</h4>
                </div>
            </div>
            </div>
            <div class="d-flex justify-content-center">
                <h3 class="text-white">View More <i class="fa fa-angle-double-down" aria-hidden="true"></i></h3>
            </div>
        </section>
    </div>
<%- include ('partials/footer'); -%>