<%- include ('partials/header'); -%>
<div class="container w-25 arpit mt-5 p-4">
    <h1 class="text-center">PAYMENT METHOD</h1>
    <hr><br>
    <form action="/method/<%= currentuser._id %>" method="POST">      
        <div class="form-check text-secondary">
            <input class="form-check-input" style="height: 30px; width: 20px;" type="radio" name="payment" id="exampleRadios1" value="COD" required>
            <label class="form-check-label h3" for="exampleRadios1">
                &nbsp;CASH ON DELIEVERY&ensp;<i class="fa fa-money text-dark"></i>
            </label>
            
          </div><hr>
          <div class="form-check text-secondary">
            <input class="form-check-input" style="height: 30px; width: 20px;" type="radio" name="payment" id="exampleRadios2" value="ONLINE" required>
            <label class="form-check-label h3" for="exampleRadios2">
                &nbsp;ONLINE PAYMENT&emsp;&ensp;<i class="fa fa-credit-card text-dark"></i>
            </label>
            
          </div><hr><br>
          <button class="btn btn-outline-dark btn-block btn-lg">PROCEED >></button>
    </form>

</div>

<%- include ('partials/footer'); -%>