<%- include ('partials/header'); -%>
<section class="container-fluid">
  <div class="row">
      <div class="col-md-5 bg-light">
          <img src="https://images-na.ssl-images-amazon.com/images/I/71UcuvuKleL._SL1500_.jpg" width="500" height="500">
          <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4">
              <a class="btn btn-block btn-lg btn-warning text-white"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;ADD TO CART</a>
          </div>
          <div class="col-md-4">
              <a class="btn btn-block btn-lg btn-danger text-white"><i class="fa fa-bolt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;BUY NOW</a>
          </div>
          </div>
      </div>
      <div class="col-md-6 bg-light pl-0">
          <h3 class="text-secondary">Product name</h3>
          <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
          <h3><span class="text-success">Special Price</span><br><i class="fa fa-inr" aria-hidden="true"></i> 47,800</h3>
          <h5>Available Offers</h5>
          <p><i class="fa fa-tag text-success"></i>&nbsp;&nbsp;Bank Offer10% Instant Savings on CITI Credit and Debit Cards <span class="text-primary">T&C</span></p>
          <p><i class="fa fa-tag text-success"></i>&nbsp;&nbsp;Bank Offer10% Instant Savings on CITI Credit and Debit Cards <span class="text-primary">T&C</span></p>
          <div class="row">
              <div class="col-md-6">
          <h2>Product Details</h2>
          <ul>
              <li>Stylish & Portable Thin and Light Laptop</li>
              <li>14 inch Full HD LED Backlit IPS Display</li>
              <li>Finger Print Sensor for Faster System Access</li>
              <li>Intel Core i7 Processor (8th Gen)</li>
              <li>16GB DDR4 RAM</li>
              <li>1 TB HDD</li>
              <li>16 bit Windows 10  Operating System</li>
          </ul>
      </div>
      <div class="col-md-6">
          <h5 class="text-secondary">Services</h5>
          <p><i class="fa fa-undo" aria-hidden="true"></i>  30 days Return Policy</p>
          <p><i class="fa fa-inr" aria-hidden="true"></i>  Cash on delivery Available</p>
      </div>
      </div>
      </div>
    </div>
</section><br>
<%- include ('partials/footer'); -%>
